@charset "UTF-8";

/*테이블 위치 설정*/
table {margin-top: 50px;}

/* 상세페이지 테이블 설정 */ 
.table { width: 90%; margin-right: auto; margin-left: auto; vertical-align: middle;}
.table th { background-color: #F5F5F5; text-align: center; height: 50px; vertical-align: middle;}
.title td {text-align: center;}
.title th:nth-child(1) { width: 15%;}
.title td:nth-child(2) { width: 25%;}
.title th:nth-child(3), .title th:nth-child(5) { width: 15%;}
.title td:nth-child(4), .title td:nth-child(6) { width: 15%;}
.table_content {min-height: 200px; display: table; margin: 20px;}
.answer_content {min-height: 150px; display: table; margin: 20px;}
.text {display: table-cell; vertical-align: middle; color: black; }
.table tr:first-child td {font-weight: bold; padding-left: 20px;}

/* 버튼 자리설정 */
.content {padding-bottom: 100px;}
.buttons {position: absolute; right:4%;}